* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 224);
    padding: 3rem 2rem;
}

.header_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
}

h1 {
    background-color: aqua;
    color: violet;
    text-align: center;
    padding: 30px;
}

.header_div {
    text-align: right;
    padding: 20px 0;
}

.header_update {
    background-color: greenyellow;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}