div {
    width: 150px;
    height: 150px;
    margin: 5px;
}

.line-1 {
    background: linear-gradient(45deg, aqua, blue 20%, white);
}

.cir-1 {
    background: radial-gradient(circle at 0% 0%, yellow 30%, red, white);
}